/*

FONTES

*/

@font-face {
  font-family: '';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('') format('woff');
}

@font-face {
  font-family: '';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('') format('woff');
}

@font-face {
  font-family: '';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('') format('woff');
}
