/*

INDEX partials SECTION PERGUNTAS

*/

section.perguntas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0px;
  background-color: var(--cor-primaria-1);
  background-image: linear-gradient(0deg, #030e22, #001841);
}

/* Titulo */

section.perguntas .titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px 30px 50px 30px;
}

section.perguntas .titulo h2 {
  font-family: var(--fonte-bold);
  font-size: 2rem;
  color: var(--cor-branco);
}

section.perguntas .titulo h2 span {
  color: var(--cor-primaria-1);
}

/* Itens */

section.perguntas .itens {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  overflow-x: scroll;
  width: 90%;
  padding: 50px 0px;
  cursor: e-resize;
}

section.perguntas .itens:active {
  cursor: grabbing;
}

/* scrollbar */

section.perguntas .itens {
  scrollbar-color: #E7004C #001841;
  scrollbar-width: thin;
}

section.perguntas .itens::-webkit-scrollbar-track {
  background-color: #001841;
  height: 7px;
  border-radius: 10px;
}

section.perguntas .itens::-webkit-scrollbar {
  height: 7px;
  border-radius: 10px;
}

section.perguntas .itens::-webkit-scrollbar-thumb {
  background-color: #E7004C;
  border: 2px solid #001841;
  height: 7px;
  border-radius: 10px;
}

/* item */

section.perguntas .itens .item {
  width: 100%;
  max-width: 400px;
  min-width: 400px;
  border: 2px dashed var(--cor-primaria-1);
  border-radius: 15px;
  padding: 80px 25px 20px 25px;
  margin: 0px 30px;
  position: relative;
}

section.perguntas .itens .item h3 {
  font-family: var(--fonte-bold);
  font-size: 1.1rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: var(--cor-primaria-1);
  position: absolute;
  top: -30px;
  background-color: var(--cor-secundaria-1);
  border: 2px dashed var(--cor-primaria-1);
  padding: 15px 30px;
  border-radius: 15px;
  width: 100%;
  max-width: 300px;
}

section.perguntas .itens .item p {
  font-family: var(--fonte-medium);
  font-size: 1.1rem;
  color: var(--cor-branco);
  padding-bottom: 30px;
  line-height: 1.5;
}

section.perguntas .itens .item p span {
  color: var(--cor-primaria-1)
}

/* Responsivo */

@media screen and (max-width: 550px) {
  section.perguntas .itens {
    width: 95%;
  }
  section.perguntas .itens .item {
    max-width: 320px;
    min-width: 320px;
    padding: 80px 20px 20px 20px;
    margin: 0px 25px;
  }
  section.perguntas .itens .item h3 {
    font-size: 0.9rem;
    padding: 13px 20px;
    border-radius: 13px;
    max-width: 250px;
  }
}
